<div class="offer">
    <p>
        <b>Sex:</b> <em><%= sex =%></em><br>
        <b>Age:</b> <em><%= age =%></em><br>
        <b>Breed:</b> <em><%= breed =%></em><br>
        <b>Gets along with </b><%= getsAlong =%><br>
        <%= comments =%>
    </p>
</div>